includes:
	- phpstan-baseline.neon

parameters:
	level: 8
	paths:
		- src/
	ignoreErrors:
		- identifier: missingType.generics
		- identifier: missingType.iterableValue
	parallel:
		maximumNumberOfProcesses: 1
		minimumNumberOfJobsPerProcess: 1
